
@media print {
  .resume-job {
    width: 100%;

    h3, h4, p {
      margin: 0;
    }

    > .resume-job-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;

      > .resume-job-company {
        display: flex;
        flex-flow: column nowrap;
      }
    }
  }
}