
@media print {
  .resume-header {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: space-between;

    padding-bottom: 1rem;

    > .resume-info {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      > .resume-info-main {
        > .resume-header-name {
          margin: 0;
        }

        > .resume-header-position {
          margin: 0;
          font-size: 1rem;
        }
      }

      > .resume-header-links {
        margin: 0;
      }
    }

    > .resume-photo {
      max-width: 3.5cm;
      max-height: 3.5cm;

      margin-right: 2rem;
    }
  }
}