
@media print {
  .separator {
    border-bottom: 1px solid black;
  }

	.resume-extra {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.resume-extra > p {
		margin: 0;
	}

	.resume-header {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: space-between;
		padding-bottom: 1rem;
	}

	.resume-header > .resume-info {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}

	.resume-header > .resume-info > .resume-info-main > .resume-header-name {
		margin: 0;
	}

	.resume-header > .resume-info > .resume-info-main > .resume-header-position {
		margin: 0;
		font-size: 1rem;
	}

	.resume-header > .resume-info > .resume-header-links {
		margin: 0;
	}

	.resume-header > .resume-photo {
		max-width: 3.5cm;
		max-height: 3.5cm;
		margin-right: 2rem;
	}

	.resume-job {
		width: 100%;
	}

	.resume-job h3, .resume-job h4, .resume-job p {
		margin: 0;
	}

	.resume-job > .resume-job-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}

	.resume-job > .resume-job-header > .resume-job-company {
		display: flex;
		flex-flow: column nowrap;
	}

	.resume-separator {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
    width: 100%;
		margin: 0.25rem;
	}

	.resume-separator > h2 {
		margin: 0.25rem;
	}

	.resume-separator > .border {
		height: 3px;
		border-bottom: 1px solid black;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		width: 100%;
	}

	.resume-uni {
		width: 100%;
	}

	.resume-uni h3, .resume-uni h4, .resume-uni p {
		margin: 0;
	}

	.resume-uni > .resume-uni-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 0.75rem;
	}

	.resume-uni > .resume-uni-header > .resume-uni-info {
		display: flex;
		flex-flow: column nowrap;
	}

	.resume-uni > .resume-uni-header > .resume-uni-info > .resume-uni-degree {
		font-weight: normal;
		font-style: italic;
	}

	.resume-root {
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;
	}

	.resume-root > h1 {
		margin: 0;
	}

	.resume-root > p {
		margin: 0.5rem;
	}
}